# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea/*
.gradle
**/DoNotCommit*
**/build
**/node_modules
**/coverage
**/.nyc_output
**/out
**/.env
**/lib


# misc
.DS_Store